<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <!-- <head th:replace="layout/fragments/head :: _head(title='Dashboard')"> </head> -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Voler Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>

  <body>
    <div id="app">
      <!--Main content-->
      <span th:replace="layout/fragments/sidebar :: sidebar"></span>
      <div id="main">
        <!--Content id-->
        <span th:replace="layout/fragments/header :: header"></span>
        <!-- <div class="main-content container-fluid" layout:fragment="content"> -->
          <!--dynamic content-->
          <!--you can replace this using page-->
        </div>
        <span th:replace="layout/fragments/footer :: footer"></span>
        
      </div>
    </div>
  </body>
</html>
