<!-- footer.html -->
<footer th:fragment="_footer">
  <!--footer-->
  <div class="footer clearfix mb-0 text-muted">
    <div class="float-start">
      <p>2020 &copy; Voler</p>
    </div>
    <div class="float-end">
      <p>
        Crafted with <span class="text-danger"><i data-feather="heart"></i></span> by
        <a href="http://ahmadsaugi.com">Ahmad Saugi</a>
      </p>
    </div>
  </div>
</footer>

<!-- <footer th:fragment="_footer">
  <div class="footer clearfix mb-0 text-muted text-white">
    <p>&copy; 2025 Roller Speed. Todos los derechos reservados.</p>
    <div class="float-start"></div>
      <p>2020 &copy; Voler</p>
    </div>
    <div class="float-end">
      <p>
        Crafted with <span class="text-danger"><i data-feather="heart"></i></span> by
        <a href="http://iudigital.edu.co">Ahmad Saugi</a>
      </p>
    </div>
  </div>
</footer>
 -->
